<div class="holder text-center">
    <div data-role="controls">
        <button class="btn mt-3 font-24 rounded-m btn-primary">
            <span id="btnTest">התחל להקליט</span>&nbsp;&nbsp;<i class="fa fa-microphone"></i></button>       
    </div>
    <!-- <button class="btn mt-3 mx-2 font-24 rounded-m btn-primary" id="btnTest1">
        <span>התחל</span>&nbsp;&nbsp;<i class="fa fa-microphone"></i></button> -->
</div>
<script src="/scripts/forRecorder.js"></script>
