<div id="menu-sound" class="menu menu-box-bottom menu-box-detached rounded-m">
    <div class="content">       
        <div class="rec-app">
            <%- include ('components/recorderPrev') %>
            <div id="monitor" class="text-center font-24"></div>
            <div id="result" class="text-center"></div>
        </div>
        <script src='./scripts/forstt.js'></script>     
        <div class="row">
            <div class="col-6">
                <a href="#" onclick="window.open('manual.pdf','_blank')" class="btn btn-full font-16 rounded-m btn-info color-white font-700 text-uppercase">תקבל עזרה</a>
            </div>
            <div class="col-6">
                <a href="#" class="close-menu btn btn-full font-16 rounded-m btn-danger font-700 text-uppercase">סגור</a>
            </div>
        </div>         
    </div>
</div>