<%- include ('components/head') %>
    <%- include ('components/preloader') %>
        <div id="page">
            <%- include ('components/recorder') %>
                <div id="monitor" class="text-center"></div>
                <div id="result" class="text-center"></div>
        </div>
        <script src='./scripts/forstt.js'></script>           
        <%- include('components/foot') %>